$logo: '/static/points/images/1.png';
$punto: '/static/points/images/types/points.png';
$lines: '/static/points/images/types/lines.png';
$mesh: '/static/points/images/types/mesh.png';
$pokebola: '/static/points/images/pokebola/pokebola.png';

body {
	margin: 0;
	overflow: hidden;
}

#gui_container{
  position: absolute;
  top: 50px;
  right: 0;
}
#gui{
  transform:translate(0, 0);
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider {
  -webkit-appearance: none;
  margin-top: 13px;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  margin-left: 5px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #AA1515;
  cursor: pointer;
}


#u {
  font-weight: bold;
  color: white;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #491515;
  border: 1px solid #d3d3d3;
  text-align: center;
  top: 60px;
  left: 100px;
}

#mydivheader {
  padding: 10px;
  width: 245px;
  cursor: grab;
  z-index: 10;
  background-color: #491515;
  color: #fff;
}
#mydivheader:active {
  cursor: grabbing;
}

#mydiv2 {
  position: absolute;
  z-index: 10;
  background-color: #491515;
  border: 1px solid #d3d3d3;
  text-align: center;
  top: 240px;
  left: 40px;
}

#mydiv2header {
  padding: 10px;
  width: 245px;
  cursor: grab;
  z-index: 11;
  background-color: #491515;
  color: #fff;
}
#mydiv2header:active {
  cursor: grabbing;
}

#mydiv3 {
  display: flex;
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.88);
  text-align: center;
  border: 1px solid #d3d3d3;
  top: 360px;
  left: 40px;
}

#mydiv3header {
  cursor: grab;
  z-index: 11;
  background-color: #491515;
  color: #fff;
  padding: 10px;
}
#mydiv3header:active {
  cursor: grabbing;
}

#mydiv3::after {
  background-image: url($logo);
  background-size: 10px 10px;
  display: inline-block;
  width: 10px; 
  height: 10px;
  margin-left: 5px;
  position: relative;
  right: -5px;
  top: 10px;
  content:"";
}

#mydiv4 {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.88);
  text-align: center;
  top: 60px;
  left: 1100px;
  border: 1px solid #d3d3d3;
}

#mydiv4header {
  cursor: grab;
  z-index: 11;
  background-color: #491515;
  color: #fff;
  margin-bottom: 3px;
}
#mydiv4header:active {
  cursor: grabbing;
}

#mydiv5 {
  position: absolute;
  z-index: 12;
  background-color: rgba(0, 0, 0, 0.88);
  text-align: center;
  top: 450px;
  left: 40px;
  border: 1px solid #d3d3d3;
}
#mydiv5header {
  cursor: grab;
  z-index: 13;
  background-color: #491515;
  color: #fff;
  margin-bottom: 3px;
}
#mydiv6 {
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.88);
  text-align: center;
  top: 200px;
  left: 1100px;
  border: 1px solid #d3d3d3;
}

#mydiv6header {
  cursor: grab;
  z-index: 11;
  background-color: #491515;
  color: #fff;
  margin-bottom: 3px;
}
#mydiv6header:active {
  cursor: grabbing;
}
.wrapper {
  display: flex;
}
.inputs, .outputs {
  color: #9d9d9d;
  ul {
    list-style-type: none;
    padding-left: 0;
    li:hover {
      color: white;
    }
  }
}
.inputs {
  padding-right: 20px;
  text-align: left;
  li::before {
    background-image: url($logo);
    background-size: 10px 10px;
    display: inline-block;
    width: 10px; 
    height: 10px;
    position: relative;
    left: -5px;
    content:"";
  }
}
.outputs {
  text-align: right;
  padding-left: 20px;
  li::after {
    background-image: url($logo);
    background-size: 10px 10px;
    display: inline-block;
    width: 10px; 
    height: 10px;
    position: relative;
    right: -5px;
    content:"";
  }
}

canvas {
  position: absolute;
  z-index: -1;
}
#geoButtons {
  position: absolute;
  top: 50px;
  z-index: 12;
}
#geometryImages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.geoImg {
  background-color: rgba(0, 0, 0, 0.7);
  outline: none;
  border-color: #AAAAAA;
  margin-bottom: 2px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}
.spanPoints {
    background-image: url($punto);
    background-size: 30px 30px;
    display: inline-block;
    width: 30px; 
    height: 30px;
    content:"";
  }
.spanLines {
    background-image: url($lines);
    background-size: 30px 30px;
    display: inline-block;
    width: 30px; 
    height: 30px;
    content:"";
  }
.spanMesh {
    background-image: url($mesh);
    background-size: 30px 30px;
    display: inline-block;
    width: 30px; 
    height: 30px;
    content:"";
  }
.pokebola {
    background-image: url($pokebola);
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    background-size: 30px 30px;
    display: inline-block;
    margin-top: 6px;
    width: 30px; 
    height: 30px;
    content:"";
  }

// Color palette on the navbar
  .selector {
    display: flex;
    justify-content: space-between;
    width: 480px; 
    padding: 3px; 
    margin-top: 7px;
  }
  .field-knob {
    position: absolute;
    width: 12px; 
    height: 12px; 
    border: 2px solid rgb(255, 255, 255); 
    border-radius: 6px; 
    z-index: 1; 
    margin-left: 72.3068px; 
    margin-top: 14.3636px; 
    background-color: rgb(200, 41, 41);
    cursor: pointer; 
  }
  .saturation-field {
    width: 210px; 
    height: 30px; 
    display: inline-block; 
    cursor: pointer; 
    border-radius: 2px;
    background: -webkit-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(255, 0, 0) 100%);
  }
  .hue-field {
    width: 210px; 
    height: 30px; 
    border: 1px solid black;
    border-radius: 2px;
    cursor: ew-resize; 
    background: -webkit-linear-gradient(left, rgb(255, 0, 0) 0%, rgb(255, 0, 255) 17%, rgb(0, 0, 255) 34%, rgb(0, 255, 255) 50%, rgb(0, 255, 0) 67%, rgb(255, 255, 0) 84%, rgb(255, 0, 0) 100%);
  }
  .hue-knob {
    position: absolute;
    width: 15px; 
    height: 4px; 
    border-right: 4px solid rgb(255, 255, 255); 
    z-index: 1; 
  }
  #colorsCheckBox {
    height: 20px;
    width: 20px;
    margin-top: 5px;

  }