.right-wrapper {
	display: grid;
	grid-template-rows: min-content 115px min-content min-content;
	background-color: rgba(0, 120, 120, 0.1);
	padding-top: 20px;
}
.gui-wrapper {
	padding-left: 20px;
}