$logo: './img/1.png';

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.slider {
  -webkit-appearance: none;
  margin-top: 13px;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  margin-left: 5px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #AA1515;
  cursor: pointer;
}
#mydiv3 {
  display: flex;
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.88);
  text-align: center;
  border: 1px solid #d3d3d3;
  top: 360px;
  left: 40px;
}
#mydiv3header {
  cursor: grab;
  z-index: 11;
  background-color: #491515;
  color: #fff;
  padding: 10px;
}
#mydiv3header:active {
  cursor: grabbing;
}
#mydiv3::after {
  background-image: url($logo);
  background-size: 10px 10px;
  display: inline-block;
  width: 10px; 
  height: 10px;
  margin-left: 5px;
  position: relative;
  right: -5px;
  top: 10px;
  content:"";
}
.slider-number {
  color: #fff;
}