.formulas-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: rgba(255, 255, 255, 1);
	cursor: pointer;
}
.formulas-image-wrapper {
	border: 1px solid rgba(126, 126, 132, 0.4);
	width: 100%;
	height: 80px;
	text-align: center;
	overflow: hidden;
	align-content: center;
}
.formulas-image {
	 max-width: 100%;
	 max-height: 60%;
}
@media screen and (max-width: 1000px) {
	.formulas-image-wrapper {
		height: 40px;
	}
}