.main-wrapper {
	display: grid; 
	grid-template-columns: 5fr 19fr;
}
.sidebar-title {
	color: rgba(255, 255, 255, 1); 
	font-size: 1.4em;
	padding-bottom: 10px;
}
@media screen and (max-width: 1000px) {
	.main-wrapper {
		display: grid; 
		grid-template-columns: 1fr;
		grid-template-rows: min-content 1fr;
	}	
	.sidebar-title {
		font-size: 1em;
		padding-bottom: 10px;
	}
}