{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1 width=device-width">
	<link rel="icon" type="image/icon type" href="{% static 'points/images/1.png' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'points/css/styles.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<!-- React -->
	<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	<!-- My scripts -->
	<script type="text/javascript" src="{% static 'points/js/draggable.js' %}"></script>
	<script type="module" src="{% static 'points/js/points.js' %}"></script>
	{% block head %}{% endblock %}
</head>
<body>
	{% include 'points/navbar.html' %}
		<canvas id="page_background"></canvas>
		<div id="mydiv">
		  <div id="mydivheader">Click here to move</div>
			<div id="gui_container"></div>
		</div>
		<div id="mydiv2">
		  <div id="mydiv2header">Background Color</div>
			<div id="gui_background"></div>
		</div>
		<div id="mydiv3">
		  <div id="mydiv3header">Slider</div>
		  <div>
			<input type="range" min="1" max="100" value="43" class="slider" id="uRange">
			<div id="u"></div>
		  </div>
		</div>
	{% block body %}{% endblock %}
	<div id="geoButtons">
		<div id="geometryImages">
			<button data-type="points" class="geoImg"><span class="spanPoints"></span></button>
			<button data-type="lines" class="geoImg"><span class="spanLines"></span></button>
			<button data-type="mesh" class="geoImg"><span class="spanMesh"></span></button>
			<button class="geoImg"><span class="pokebola"></span></button>
		</div>
	</div>
	<script type="text/javascript">
		document.querySelectorAll('input').forEach(input => {
			input.addEventListener("keyup", function() {
				let html = "";
				$.get("/quotes/" + input.value, function(nodes) {
					for (let node of nodes.nodes)
					{
						let nodes = node;
						html += "<option value="+ nodes + ">";
					}
					document.querySelector("datalist").innerHTML = html;
				});
			});
		});
	</script>
	<script src="{% static 'points/js/bootstrap.js' %}"></script>
</body>
</html>