.left-wrapper {
	display: grid;
	grid-template-rows: min-content  min-content;
	background-color: rgba(0, 160, 160, 0.1);
	overflow: hidden;
	grid-gap: 30px;
	padding: 20px;
}
.right-wrapper {
	display: grid;
	grid-template-rows: min-content 130px min-content;
}
.selectors-wrapper {
	display: grid; 
	grid-gap: 30px;
}
@media screen and (max-width: 1000px) {
	.left-wrapper {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}
	.selectors-wrapper {
		display: grid; 
		grid-gap: 10px;
	}
}
@media screen and (max-width: 600px) {
	.left-wrapper {
		grid-gap: 10px;
		padding: 10px;
	}
}